{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block main %}
    <h1>Toutes les séries de la table program : </h1>


    {%  if programs is not null %}

        <div class="container d-flex flex-wrap justify-content-between">
        {% for program in programs %}
            {% include 'wild/_programCard.html.twig' %}
        {% endfor %}
        </div>


    {% else %}
        Aucune série trouvée.
        {% endif %}

    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}
