{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block main %}
    <h1>{{ 'all.programs'|trans }} : </h1>


    {%  if programs is not null %}

        <div class="container d-flex flex-wrap justify-content-between">
        {% for program in programs %}
            {% include 'wild/_programCard.html.twig' %}
        {% endfor %}
        </div>


    {% else %}
        {{ 'no.serie.found'|trans }}
        {% endif %}

    <a href="{{ path('app_index') }}">
        {{ 'back.home'|trans }}
    </a>
{% endblock %}
