{%  extends "base.html.twig" %}

{% block main %}
    <h1> {{message}} </h1>
    <p>Remarquez que la police choisie utilise comme minuscule des symboles majuscules legerement plus petits. Le H1 ci dessus utilise bien des majuscules en premières lettres
        de mot et des minuscules dans les autres cas ;-).</p>
{% endblock %}