@import "~bootstrap/scss/bootstrap";
@import "font-awesome.min.css";

@font-face {
  font-family: 'Source Sans';
  src: url('../fonts/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Julius';
  src: url(../fonts/JuliusSansOne-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Archivo';
  src: url(../fonts/archivo-narrow-regular.ttf) format('truetype');
}

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #A10115;
  --secondary: #D72C16;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #F0EFEA;
  --dark: #626D71;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  $primary:var(--primary);
}



body {
  background-color: var(--light);
  font-family: 'Source Sans';
  color:var(--dark);
  font-size:1.2em;
}

h1, h2{
  font-family: 'Julius';
  color:var(--primary);
}

a{
  color:var(--secondary);
}

h3{
  font-family: 'Archivo';
  color:var(--dark);
}

main {
  padding-top: calc(10vh + 50px);
  padding-bottom: 10vh;
}

.navbar{
  font-family: 'Julius';
}

.navbar-light .navbar-nav .active > .nav-link {
  color: var(--primary);
}

.navbar-brand{
}


.id{
  font-size:10px;
}

.poster{
  max-height:70vh;

}

.episode{
  padding-top:5vh;
}

.card-image{

}

th .poster, td .poster{
  width:20px;
}


/*---------------*/
/***** Lily *****/
/*---------------*/

figure.effect-lily{
  position: relative;
  overflow:hidden;
  min-width: 320px;
  max-width: 480px;
  max-height: 360px;
  width: 48%;
}

figure.effect-lily img {
  max-width: 100%;
  width: calc(100% + 50px);
  opacity: 1;//0.7
  transition: opacity 0.5s, transform 0.5s;

  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
}

figure.effect-lily figcaption {
  text-align: left;
}

figure.effect-lily figcaption > div {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2em;
  width: 100%;
  height: 100%;//50%
  //background:black;
}

figure.effect-lily h2,
figure.effect-lily p {
  height:100%;
  transform: translate3d(0, 100%, 0); //40px
}

figure.effect-lily h2 {
  transition: transform 0.5s  ease-in-out;
}

figure.effect-lily p {
  color: rgba(255,255,255,0.8);
  opacity: 0;
  transition: opacity 0.2s, transform 0.5s  ease-in-out;
}

figure.effect-lily:hover img{
  opacity: 0.6;
}

figure.effect-lily:hover p {
  opacity: 1;
}

figure.effect-lily:hover img,
figure.effect-lily:hover h2,
figure.effect-lily:hover p {
  height: min-content;
  transform: translate3d(0,0,0);
  transition-duration: 0.5s;
}

figure.effect-lily:hover p {
  transition-delay: 0.08s;
  transition-duration: 0.5s ease-in-out;

}

.comment-list{
  margin-top:30px;
  margin-bottom:30px;
}

.star-group:hover{
  color: var(--primary);
}

.star-group{
  display:flex;
  align-items: baseline;
  justify-content: center;
  color:grey;
  padding-left:10px;
}

input, textarea{
  width:100%;
}
